body {
    /* overflow: hidden; */
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#navBar {
    width: 100vw;
    background-color: #333;
    color: #fff;
}
#navBar > * {
    display: inline-block;
    /* padding: 14px 16px; */
}
.right {
    float: right;
}
.navItem {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
}
.navItemLink:hover {
    background-color: #808080;
    cursor: pointer;
}
.dropdownContent {
    position: relative;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.container {
    position: relative;
    width: 80vw;
    margin: 5vh 10vw;
    background-color: rgba(255, 255, 255, 0.7);
}
.wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    padding: 1% 5%;
}